<div class="add-container">
    <div class="inputs-container">
        {{#with values}}
            <input id="phoneId" type="text" value="{{Id}}" disabled>
            <input id="SurName" onchange="onChange()" type="text" value="{{SurName}}" placeholder="UserName">
            <input id="PhoneNumber" onchange="onChange()" type="text" value="{{PhoneNumber}}"
                   placeholder="PhoneNumber">
        {{/with}}
    </div>
</div>