<h1>PhoneList Update View</h1>
<div>
    {{>phoneList}}
    {{>addContainer}}
    <div class="add-container__buttons-container">
        {{>button buttonId='updateButton' buttonLabel='Изменить' clickHandle="updatePhone()"}}
        {{>button buttonId='deleteButton' buttonLabel='Удалить' clickHandle="deletePhone()"}}
        {{>button buttonId='getButton' buttonLabel='Отменить' clickHandle="getView()"}}
    </div>
</div>